body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5; /* Cor de fundo azul claro */
}

.container {
    max-width: 800px;
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px;
    box-sizing: border-box;
}

header {
    background-color: #483d8b; /* Azul escuro */
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1{
    color: white;
}

img{
    width: 100px;
}
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: #fff; /* Fundo branco */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin: 0;
    color: #483d8b; 
}

legend{
    margin: 0;
    color: #483d8b; 
}

form label {
    color: #483d8b; /* Azul escuro */
}

#botao2{
    background-color: #483d8b; /* Azul escuro */
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button{
    background-color: #483d8b; /* Azul escuro */
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#payloadFieldset, #crewFieldset{
    border-radius: 5PX;
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="date"],
form input[type="submit"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #483d8b; /* Azul escuro */
    color: #fff;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #483D8B; /* Roxo */
    color: #fff;
}



/*ERRO*/
.modal {
    display: none; /* Inicialmente oculta a caixa de mensagem */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Fundo semi-transparente */
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centraliza a caixa de mensagem verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#okButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#okButton:hover {
    background-color: #0056b3;
}

/*ERRO*/






/* Estilos para o select */
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; /* Remove o estilo padrão do sistema operacional */
    background-color: #fff;
    font-size: 16px;
}

/* Estilos para as opções */
select option {
    background-color: #fff;
    color: #000;
}
.action-btn {
    background-color: #483d8b; /* Azul escuro */
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-btn:hover {
    background-color: #483D8B; /* Roxo */
}


